html{
    height: 100%;
}
body{
    height: 100%;
    background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#form_magic,
.btn-personalizated{
    margin: 2em auto;
}

label{
    color: #fff;
    font-weight: 600;
    margin-top: 1em;
}
